<div>
    {{ range .Site.Data.news_en }}
        {{ if .detail }}
        <div>
            <h3 style="margin-bottom: 10px;">{{ .icon }}&nbsp;{{ .title | safeHTML }}</h3>
            <div style="font-size: .875rem; color: #a9a9b3;">
                <i class="fas fa-user-circle fa-fw"></i>&nbsp;{{.author}}&nbsp;<i class="far fa-calendar-alt fa-fw"></i>&nbsp;{{.date}}
            </div>
            <div style="text-align:justify">{{ .detail | safeHTML }}</div>
            <hr>
        </div>
        {{ else }}
        <div>
            <h3>{{ .icon }}&nbsp;{{ .date }}:&nbsp;{{ .title | safeHTML }}</h3>
            <hr>
        </div>
        {{ end }}
    {{ end }}
</div>