<div>
    <h2 id="director">主任</h2>
    {{ range .Site.Data.team_zh }}
    {{ if eq .position "director" }}
        <div class="team-member">
            <div class="team-member-photo">
                <img src="/team/{{ .photo }}">
            </div>
            <h3 style="margin-bottom: 0px;">{{ .name }}</h3>
            <p>
                <i class="fas fa-user fa-fw"></i>&nbsp;{{ .info }}<br>
                <i class="fas fa-envelope fa-fw"></i>&nbsp;{{.email}}<br>
            </p>
            <p></p>
            <p><i class="fas fa-info-circle fa-fw"></i>&nbsp;{{ .biography }}</p>
        </div>
    {{ end }}
    {{ end }}

    <h2 id="member">成员</h2>
    {{ range .Site.Data.team_zh }}
    {{ if eq .position "member" }}
        <div class="team-member">
            <div class="team-member-photo">
                <img src="/team/{{ .photo }}">
            </div>
            <h3 style="margin-bottom: 0px;">{{ .name }}</h3>
            <p>
                <i class="fas fa-user fa-fw"></i>&nbsp;{{ .info }}<br>
                <i class="fas fa-envelope fa-fw"></i>&nbsp;{{.email}}<br>
            </p>
            <p></p>
            <p><i class="fas fa-info-circle fa-fw"></i>&nbsp;{{ .biography }}</p>
        </div>
    {{ end }}
    {{ end }}

    <h2 id="student">学生</h2>
    <h3 id="phd" style="margin-bottom: 0px;">博士研究生</h3>
    <table>
        <tr>
            <th>姓名</th>
            <th>研究兴趣</th>
        </tr>
        {{ range .Site.Data.team_zh }}
        {{ if eq .position "phd" }}
        <tr>
            <td>{{.name}}</td>
            <td>{{.interests}}</td>
        </tr>
        {{ end }}
        {{ end }}
    </table>
    

    <h3 id="master" style="margin-bottom: 0px;">硕士研究生</h3>
    <table>
        <tr>
            <th>姓名</th>
            <th>研究兴趣</th>
        </tr>
        {{ range .Site.Data.team_zh }}
        {{ if eq .position "master" }}
        <tr>
            <td>{{.name}}</td>
            <td>{{.interests}}</td>
        </tr>
        {{ end }}
        {{ end }}
    </table>
</div>

<style>
    .team-member-photo {
        width: 75px;
        height: 75px;
        display: flex;
        /* border-radius: 50%; */
        align-items: center;
        justify-content: center;
        overflow: hidden;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>